<app-navbar></app-navbar>

<main>
  <!-- Sección de bienvenida -->
  <section
    class="relative bg-center bg-cover bg-no-repeat"
    style="background-image: url('/assets/img/emprendimiento/foto1.png');"
    aria-label="Sección de bienvenida"
  >
    <!-- Capa oscura -->
    <div class="absolute inset-0 bg-black/10"></div>

    <!-- Contenido -->
    <div
      class="relative max-w-7xl mx-auto px-4 sm:px-8 min-h-[520px] md:min-h-[580px]
             flex flex-col items-start justify-center text-left text-white"
    >
      <h1 class="text-4xl sm:text-5xl font-extrabold mb-4 font-poppins">
        Startups
      </h1>

      <p
        class="text-base sm:text-lg md:text-xl text-white/90 font-medium leading-relaxed mt-2
               max-w-5xl lg:max-w-6xl"
      >
        Conoce startups innovadoras que están marcando tendencia. <br />
        Descubre propuestas escalables con potencial de impacto y crecimiento global.
      </p>

      <!-- Barra de búsqueda -->
      <div class="w-full mt-10  z-10">
        <div class="max-w-5xl lg:max-w-6xl">
          <app-search-bar
            (search)="onSearch($event)"
            [labelQuery]="'Buscar por nombre'"
            [filters]="[
              {
                key: 'category',
                label: 'Categoría',
                options: categories
              },
              {
                key: 'location',
                label: 'Ubicación',
                options: ['Quito', 'Guayaquil', 'Cuenca']
              }
            ]"
          >
          </app-search-bar>
        </div>
      </div>
    </div>
  </section>

  <!-- Tarjetas -->
  <section class="py-12 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <app-cards
      [items]="cardsArray"
      [pageSize]="6"
      (discover)="onDiscover($event)"
      (toggleFavorite)="onToggleFavorite($event)"
    ></app-cards>
  </section>
</main>

<app-footer></app-footer>
