<footer class="bg-white border-t border-gray-200 text-gray-800 font-poppins">
  
  <div class="max-w-7xl mx-auto px-6 py-10 grid grid-cols-1 md:grid-cols-4 gap-8">
    
    <!--columna 1-->
    <div>
      <h2 class="text-orange-500 font-semibold text-lg mb-2">ConectaEmprende</h2>
      <p class="text-sm text-gray-600 leading-relaxed">
        ¿Tienes una idea que quieres compartir con el mundo? Regístrate como emprendedor y haz
        crecer tu proyecto con nosotros.
      </p>
    </div>

    <!--columna 2-->
    <div>
      <ul class="space-y-2 text-sm">
        <li><a href="#" class="hover:text-orange-500 transition">Acerca de ConectaEmprende</a></li>
        <li><a href="#" class="hover:text-orange-500 transition">Registra tu Emprendimiento</a></li>
        <li><a href="#" class="hover:text-orange-500 transition">Ayuda a la Comunidad</a></li>
      </ul>
    </div>

    <!--columna 3-->
    <div>
      <ul class="space-y-2 text-sm">
        <li><a href="#" class="hover:text-orange-500 transition">Términos y condiciones</a></li>
        <li><a href="#" class="hover:text-orange-500 transition">Políticas de privacidad</a></li>
      </ul>
    </div>

    <!--columna 4-->
    <div class="text-sm space-y-2">
      <p class="font-medium">+593 99 999 9999</p>
      <p class="font-medium">contacto&#64;conectaemprende.com</p>
    </div>
  </div>

  <!--linea-->
  <div class="border-t border-gray-200"></div>

  <!-- Parte inferior -->
  <div class="max-w-7xl mx-auto px-6 py-6 flex flex-col md:flex-row items-center justify-between text-sm text-gray-600">
    
    <!-- Redes sociales -->
    <div class="flex space-x-4 mb-4 md:mb-0">
      <a href="#" class="hover:text-orange-500 transition"><mat-icon>facebook</mat-icon></a>
      <a href="#" class="hover:text-orange-500 transition"><mat-icon>instagram</mat-icon></a>
    </div>

    
    <div class="flex items-center space-x-2">
      <mat-icon class="text-gray-500 text-base">copyright</mat-icon>
      <span>2025 ConectaEmprende. Todos los derechos reservados</span>
    </div>
  </div>
</footer>
